{% extends 'finance/base.html' %}

{% block content %}
<style >
th, td {
  padding: 2px;
}
</style>


<div class="col-sm-8 text-left">
<h1>Register account:</h1>
<form  method="POST">{% csrf_token %}
    <table style=width:40%;>
      <tr>
        <th><i class="fa fa-user icon"></i></th><th>{{form.username}}</th>
      </tr>
      <tr>
        <th><i class="fa fa-envelope icon"></i></th><th>{{form.email}}</th>
        </tr>
      <tr>
        <th><i class="fa fa-key icon"></i></th><th>{{form.password1}}</th>
      </tr>
      <tr>
        <th><i class="fa fa-key icon"></i></th><th>{{form.password2}}</th>
      </tr>
      <tr>
        <th></th><th><input class=btn type="submit" name="Create User" ></th>
      </tr>
    </table>

</form>
<span>Already have an account?</span><a href="/login">Login</a>
</div>


{% endblock %}
